<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
      *{padding: 0; margin: 0; box-sizing: border-box;}
    header{ padding: 35px; background-color: lightgray; width: 100%; display: flex; justify-content: space-between; text-align: center;}
    .nav ul{list-style: none; display: flex; gap: 50px;}
    .nav ul li a{text-decoration: none; font-size: 18px; color: gray;}
    .nav ul li a:hover{border: 1px solid white; border-radius: 5px; padding: 10px; background-color: white; backdrop-filter: blur(4px);}
    h2 a {font-size: 26px; text-decoration: none; color: gray;}
        button{padding: 20px; border-radius: 16px; border: none; background-color: lightgray; margin: 10px; cursor: pointer;}
    </style>


      <header>
    <h2><a href="/">Mi Tienda</a></h2>
    <div class="nav">
      <ul>
        <li><a href="/products">Productos</a></li>
        <li><a href="/realtimeProducts">Agregar Productos</a></li>
        <li><a href="#">Carrito</a></li>
      </ul>
    </div>
  </header>

    <h1>Productos en Carrito</h1>

   <h2>Carrito de compras</h2>
   <div id="cart"></div>

  <button><a href="/">Volver</a></button>

  <script src="/src/js/cart.js"></script>
</body>
</html>